body{
    background-color: #FDF2E9;
    /* background-color: #222; */
    font-family: 'Quattrocento', serif;
}
.blue-heading{
    color: #2B2E50;
}
.pm-img{
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;
}
.sub-heading{
    color: #A7673A
  
}

h3{
    color: #2B2E50;
  
}
.card{
    background-color: #FDF2E9;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.card-img-top{
    display: block;
    height: 180px;
    width: 100%;
    object-fit: contain;
}
.card-body{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.card-body a {
    margin-top: auto;
}


.accordion-item {
    background-color: #FDF2E9;
    border-color: #d4b89a;
}
.accordion-button {
    background-color: #FDF2E9;
    color: #2B2E50;
    font-weight: bold;
}
.accordion-button:not(.collapsed) {
    background-color: #f5e4d0;
    color: #A7673A;
    box-shadow: none;
}
.accordion-button::after {
    filter: invert(40%) sepia(40%) saturate(500%) hue-rotate(340deg);
}

.dark-bg{
    background-color: #222; 
}
.dark-section-heading{
    color: #8deaff
}
.dark-text{
    color: #f5f5f5
}