body{
    background-color: #FDF2E9;
    /* background-color: #222; */
    font-family: 'Quattrocento', serif;
}
.blue-heading{
    color: #2B2E50;
}
.pm-img{
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;
}
.sub-heading{
    color: #A7673A
  
}

h3{
    color: #2B2E50;
  
}
.card{
    background-color: #FDF2E9;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.card-img-top{
    display: block;
    height: 180px;
    width: 100%;
    object-fit: contain;
}
.card-body{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.card-body a {
    margin-top: auto;
}

.dark-bg{
    background-color: #222; 
}
.dark-section-heading{
    color: #8deaff
}
.dark-text{
    color: #f5f5f5
}